@charset "UTF-8";

/* Commons
------------------------------------------------------------------- */

/* couleur de fond du site = noir */ 
body {
	background: #111;
}

a, /* la balise a et plus précisement les buttons dedans */ 
button {
	position: relative; /* placer l'animation de la barre blanche en dessous du text */
	text-decoration: none; /* pas de soulignement */
	color: #fff; /* blanc */
}
#header nav li a::before,
#header nav li a::after,
.hv a::after,
a.hv::after {
	background: #fff; /* couleur de la barre (blanc) */
	 height: 1px; /* taille de la barre */
	position: absolute;
	content: "";
}
.hv a:hover::after,
a.hv:hover::after {
	opacity: 1;
}

#wrapper {
	padding: 251px 0 0;
	min-width: 1140px;
	position: relative;
	overflow: hidden;
	opacity: 0;
}
article#contents > h1 {
	background: #161616;
	margin: 0 0 80px;
	padding: 37px 0;
	text-align: center;
	font-size: 26px;
	line-height: 1;
	letter-spacing: 5px;
} */

/* Header
------------------------------------------------------------------- */



#header nav {
	text-align: center; /* text alligné au centre */
}
#header nav ul {
	text-align: center;
	font-size: 0;
	line-height: 1; /* taille du text */
}
#header nav li {
	display: inline-block; /* les mettre de gauches à droite plutôt que de haut en bas */
	font-size: 16px; /* taille police */
}
#header nav li + li {
	margin: 0 0 0 30px; /* espace entre les text */
}
#header nav li a {
	padding: 15px 0; /*le text se place bien */
	display: block;
}


#header nav li a::before,
#header nav li a::after {
	width: 0;
	bottom: 12px;   /* barre blanche en dessous */
	opacity: 1;
	transition: all 0.2s ease-out; /* durée animation */
}
#header nav li a::before {
	left: 50%; /* placement de la barre blanche */
}
#header nav li a::after {
	left: auto;  /* placement de la barre blanche */
	right: 50%;
}

#header nav li a:hover::before,
#header nav li a:hover::after {
	width: 50%;
}




/* Footer
------------------------------------------------------------------- */

#footer {
	background: #000;
	margin: 80px 0 0;
	padding: 307px 0 60px;
	position: relative;
	font-size: 14px;
	color: #fff;
}
#footer::before,
#footer::after {
	height: 145px;
	position: absolute;
	right: 0;
	left: 0;
	content: "";
}
@keyframes bgT {
	0% {background-position: 0 0;}
	100% {background-position: 1542px 0;}
}
@keyframes bgB {
	0% {background-position: 128px 0;}
	100% {background-position: -1414px 0;}
}


#footer nav {
	font-size: 0;
}
#footer .sns {
	margin: 0 0 40px;
}
#footer .sns li {
	float: left;
}
#footer .sns li + li {
	margin: 0 0 0 18px;
}
#footer .sns a {
	background-size: 32px 32px !important;
	width: 33px;
	height: 33px;
	display: block;
	text-indent: 120%;
	overflow: hidden;
	white-space: nowrap;
}

#footer a {
	color: #fff;
}
#footer .relations {
	float: left;
}
#footer .relations li {
	background-size: contain !important;
	margin: 0 30px 0 0;
	height: 42px;
	float: left;
	box-sizing: border-box;
}
#footer .relations li.eve,
#footer .relations li.chp {
	text-indent: 120%;
	overflow: hidden;
	white-space: nowrap;
}

#footer .relations li.tf {
	width: 75px;
}
#footer .relations li.zoo {
	padding: 3px 0 0;
	width: 51px;
}
#footer .relations li a {
	background-size: contain !important;
	display: block;
	text-indent: 120%;
	overflow: hidden;
	white-space: nowrap;
}
#footer .guidelines {
	margin: -11px 0 0;
	float: right;
}
#footer .guidelines a:hover {
	text-decoration: underline;
}
#footer small {
	margin: 15px 0 0;
	display: block;
	float: right;
	clear: right;
	line-height: 1;
}
#footer .sns a {
	transition: all 0.3s ease;
}
#footer .sns a:hover {
	opacity: 0.60;
	filter: alpha(opacity=60);
}