.homepage {
	background-image: url("bg_img.png");
}



p {
	font-size: 12px;
}

.logo {
	display: flex;
	justify-content: center;
}

.logo a img {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 88px;
	height: 73px;
}

.page-space {
	display: flex;
	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}

.container-header {
	padding-inline: 20px;
	width: 800px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
	border-radius: 2em 2em 0em 0em;

	display: flex;
  	align-items: center;
  	justify-content: center;

  	border: 2px solid black;
  	border-bottom: 0px;


}

.container {
	padding-inline: 20px;
	width: 800px;
	background-color: white;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
	border-radius: 0em 0em 2em 2em;

	display: flex;
  	align-items: center;
  	justify-content: center;

  	border: 2px solid black;


}



.carousel {
	width: 840px;
	display: flex;
	flex-direction: row;
	align-items: center;
  	justify-content: center;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
  	justify-content: center;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
  	justify-content: center;
}

.button {
  background-color: rgba(254, 219, 138, 1);
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 2em;
  border: 2px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover, .button:active {
  background-color: rgba(233, 200, 125, 1);
  color: white;
}

.svg-icon {
  width: 40px;
  height: 40px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}


@media (max-width: 900px) {
	.container {
		width: 90%;
	}
	.container-header {
		width: 90%;
	}
	.carousel {
		width: 90%;
		flex-direction: column;
	}
	* {
		font-size: 12px;
	}
}